In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('btc_jun_jul_14_2018.csv')

In [6]:
df.head()

        Fecha   Cierre Apertura   Máximo   Mínimo    Vol.  % var.
0  14.07.2018  6,235.1  6,219.7  6,287.0  6,179.3  14.45K   0.24%
1  13.07.2018  6,220.0  6,240.6  6,335.1  6,133.4  20.09K  -0.46%
2  12.07.2018  6,249.0  6,377.7  6,377.7  6,080.8  24.98K  -2.02%
3  11.07.2018  6,377.8  6,299.0  6,402.8  6,287.7  16.41K   1.21%
4  10.07.2018  6,301.5  6,666.9  6,680.1  6,269.3  28.02K  -5.48%

#### Reverse columns

In [8]:
df = pd.read_csv('btc_jun_jul_14_2018.csv').loc[::-1]

In [9]:
df.head()

         Fecha   Cierre Apertura   Máximo   Mínimo    Vol.  % var.
43  01.06.2018  7,521.0  7,485.9  7,599.8  7,344.8  19.04K   0.47%
42  02.06.2018  7,638.1  7,521.1  7,691.2  7,445.5  17.36K   1.56%
41  03.06.2018  7,718.0  7,639.0  7,777.4  7,600.0  13.80K   1.05%
40  04.06.2018  7,488.3  7,718.0  7,761.5  7,457.5  18.13K  -2.98%
39  05.06.2018  7,621.7  7,487.9  7,669.0  7,372.9  16.84K   1.78%

In [7]:
float_format = lambda x: float(x.replace(',', ''))

In [ ]:
df[['Close', 'Open', 'Max', 'Min']] =